#sandy {
  background-image: url("../img/sandy.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 520px;
}

#header-text {
  text-align: center;
  color: #fff;
  padding-top: 135px;
  text-shadow: 0px 2.5px 2.5px rgba(11, 40, 41, 0.88);
  font-family: monospace;

}
